@tailwind base;
@tailwind components;
@tailwind utilities;


@import './swiper.scss';

body {
    background-color: #f7f7f7;
}


.navbar {
    background: rgb(0, 0, 0);
background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.22650779061624648) 52%, rgba(0, 0, 0, 0.4590007878151261) 82%);}


.text-effect {
    font-size: 72px;
    background: -webkit-linear-gradient(rgba(11, 11, 11, 0.987), rgba(152, 152, 152, 0.313));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}